
.btn-primary-outline {
  background-color: transparent;
  border-color: white;
}
html, body {
  height: 100%;
  /*width: 100%;*/
}
.index-container{
  background-image: url("images/road.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}
/*.container-fluid {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}*/

.index-container h1, h2 {
  color: white;
  text-align: center;
}

.index-container{
  display: block;
  margin: auto;
}
.container {
  min-height: 100%;
  background-color: white;

}

h1, h2 {
  color: black;
}
