<!--index.vtl-->
<div class="container-fluid index-container">
  <h1>Generic Blog</h1>
  <h2>Your Stories</h2>
  <div class="text-center">
    <a href="/users/new"><button type="button" class= "btn btn-lg btn-primary-outline" name="button">Sign Up</button></a>
    <a href="/users"><button type="button" class= "btn btn-lg btn-primary-outline" name="button">Sign In</button></a>
  </div>

</div>
<!--index.vtl-->
