<!-- new-user-success.vtl-->
<h2>Welcome, $currentUser.getName()</h2>
<!-- $users.size()
  #foreach ($user in $users)
  <p>
    $user.getName(), $user.getType()
  </p>
  #end -->
<!-- new-user-success.vtl-->
